<IfModule mod_rewrite.c>
RewriteEngine On

    # Non-existent files or directories to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

</IfModule>
